/*--------------------------------------------------------------------------
*
*	layout.css
*
*	This CSS file is loaded in the front-end of the website and contains
*	all the styles for this website.
*
*	Tip: Use headings to break the file into easy to navigate sections
*	Tip: Write all styles on individual lines for the next developer to read
*	Tip: space each style with a link, sections with 2 lines
*	
*-------------------------------------------------------------------------*/


/*--------------------------------------------------------------------------
*
*	Global
*	
*-------------------------------------------------------------------------*/

body {
	
}


/*--------------------------------------------------------------------------
*
*	Typography
*	
*-------------------------------------------------------------------------*/

h1, h2, h3, h4, h5, h6 {
	
}

h1 {
	
}

h2 {
	
}

h3 {
	
}

h4 {
	
}

h5 {
	
}

h6 {
	
}

ul, ol {
	
}

blockquote {
	
}

blockquote * {
	display: inline;
}

blockquote:before {
	content: '\201C '
}

blockquote:after {
	content: ' \201D';
}

hr {
	
}


/*--------------------------------------------------------------------------
*
*	Form
*	
*-------------------------------------------------------------------------*/

form {
	
}


/*--------------------------------------------------------------------------
*
*	Header
*	
*-------------------------------------------------------------------------*/

#header {

}


/*--------------------------------------------------------------------------
*
*	Footer
*	
*-------------------------------------------------------------------------*/

#footer {
	
}


/*--------------------------------------------------------------------------
*
*	Page: Home
*	
*-------------------------------------------------------------------------*/



/*--------------------------------------------------------------------------
*
*	Browser specific: Webkit
*	
*-------------------------------------------------------------------------*/

@media screen and(-webkit-min-device-pixel-ratio:0) {
	
	

}


/*--------------------------------------------------------------------------
*
*	Browser specific: Firefox
*	
*-------------------------------------------------------------------------*/

@-moz-document url-prefix() {
    
}


/*--------------------------------------------------------------------------
*
*	Retina
*
*	Jockstrat contains a .sprite class which automaticaly includes a @2x
*	sprite file. Please use this calss if possible
*	
*-------------------------------------------------------------------------*/

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) { 
	
	
	
}