/*--------------------------------------------------------------------------
*
*	POST LAYOUTS
*
*-------------------------------------------------------------------------*/

.home-post-list {
	width: 100%;

	& .image-link {
		display:block;
		position:relative;
		z-index: 8;
	}

	& .image-link:hover {
		background: $rg-yellow;

		& img {
			opacity: .7;
			//-webkit-filter: grayscale(.8);
			transition: $anim-quick;
		}

	}

}

.post-block {

	margin-bottom: 2rem;

	&:nth-child(odd){
		clear: left;
	}

	& .post-title {
		background: #191a1a;
		padding: 10px 27px 10px 11px;
		margin-bottom: .2rem;

		& a {
			color: rgba(255, 255, 255, 1);
			text-decoration: none;

			&:hover {
				color: $rg-yellow;
			}

		}

	}

	& figure {
		margin-bottom: 1rem;
	}

	& .post-block__description {
		color: $rg-grey;
		padding-bottom: .6rem;
		border-bottom: 1px solid rgba(0, 0, 0, .1);
		font-size: .9em;
		line-height: 1.6;
		font-weight: 300;
	}

}

.facebook-module {
	margin-bottom: 35px;
}

.post-block__post-meta {
	font-size: .7em;
	line-height: 26px;
	border-bottom: 1px solid rgba(0, 0, 0, .1);
	text-align: center;
}

.post-date,
.author-name {
	display: inline;
	font-style: italic;
	color: $rg-grey;

	& a {
		color:$rg-grey;
		text-decoration: none;
		border-bottom: 1px solid rgba(0, 0, 0, .2);
		padding: 0 2px 0 2px;

		&:hover {
			border-bottom: 1px solid $rg-yellow;
		}

	}
}

/*--------------------------------------------------------------------------
*
*	REGULAR POST STYLE
*
*-------------------------------------------------------------------------*/

.single-post-content article {
	width: 100%;
	padding-right: 25px;
	font-size: .9em;
	line-height: 1.6;
	margin-bottom: 4rem;

	& a {
		color: $rg-grey;
	}

	& a:hover {
		color: darken( $rg-yellow, 10% );
	}

	& img,
	& object {
		max-width: 100%;
		margin-top: 1.5rem;
		margin-bottom: 1.5rem;
		-webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.4);
		box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.4);
		display: inline-block;
		padding: 0;
	}

	& img {
		height: auto;
	}

	& .wp-caption {
		max-width: 100%;
		margin-top: 1.5rem;
		margin-bottom: 1.5rem;

		& img {
			margin: 0;
		}

		& .wp-caption-text {
			background: rgba(0, 0, 0, 0.04);
			font-style: italic;
			padding: 5px 15px 2px;
			margin-top: 0px;
			color: rgba(0, 0, 0, 0.8);
			border-bottom: 1px solid rgba(0, 0, 0, 0.1);
			font-size: .9em;
		}

	}

	& h1 {
		font-weight: 300;
		font-weight: 300;
		font-size: 30px;
		margin-bottom: 0px;
		line-height: 1.2;
		text-align: left;
	}

	& h2 {
		font-weight: 200;
		line-height: 30px;
		margin-bottom: 8px;
		margin-top: 2rem;
	}

	& p {
		margin-bottom: 12px;
		margin-top: 12px;
		font-size: .9em;
		line-height: 1.8;
		font-weight: 300;

	}

	& .default-tag {
		text-align: center;
		margin: 20px 0 30px 0;
		border-top: 1px dotted rgba(0, 0, 0, 0.2);
		padding-top: 12px;
	}

}

.single-post-content.single-page article .category-title {
	margin-top: 0;
}

/*--------------------------------------------------------------------------
*
*	ARCHIVE STYLE
*
*-------------------------------------------------------------------------*/

.category-title {
	border: 1px solid rgba(0, 0, 0, .1);
	padding: 2px 0 0 8px;
	margin-right: 8px;
	text-transform: none;
}

.article-block {
	border-bottom: 1px solid rgba(0, 0, 0, .1);
	margin-bottom: 35px;
	padding-bottom: 25px;
	width: 100%;

	&:last-child {
		border: none;
		margin-bottom: 10px;
		padding-bottom: 10px;
	}

	& .article-block__post-content {
		padding-right: 12px;
		/*display: inline-block;
		width: 65%;*/

		& h4 {
			font-size: 20px;
			margin-bottom: 6px;
			line-height: 1.4;
			font-weight: 500;
			font-family: $rg-body;

			& a {
				color: $rg-grey;
				text-decoration: none;
			}

			& a:hover {
				background: transparent;
				border-bottom: 1px solid #c8c8c8;
			}

		}

		& p {
			font-size: .9em;
			line-height: 1.6;
			font-weight: 300;
		}

	}

	& .article-block__post-image {
		width: 330px;
		height: auto;
		float: left;
		padding: 0 26px 12px 0;
		box-sizing: content-box;

		& img {

		}

	}

	& .article-block__post-image.right-image {
		width: 315px;
		height: auto;
		float: right;
		padding: 0;
		margin: 6px 8px 12px 24px;
		box-sizing: content-box;
		max-height: 170px;
		overflow: hidden;
		-webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.4);
		box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.4);

		& img {
			width: 100%;
		}

	}

	& .post-block__post-meta {
		text-align: left;
		border-bottom: none;
		margin-top: -8px;
		margin-left: 2px;
		margin-bottom: 8px;
	}

}




